@{
    ViewData["Title"] = "FormacionAcademica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FormacionAcademica</h2>

@(Html.DevExtreme().DataGrid<ProyectoLinkedinMVC.Models.Formacion_Academica>()
    .DataSource(ds => ds.WebApi()
        .Controller("FormacionAcademica")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("Id")
    )
    .RemoteOperations(true)
    .Columns(columns => {

        columns.AddFor(m => m.Id);

        columns.AddFor(m => m.Titulo);

        columns.AddFor(m => m.Grado);

        columns.AddFor(m => m.Descripcion);

        columns.AddFor(m => m.FechaAdquisicion);

        columns.AddFor(m => m.InstitucionEducativa);

        columns.AddFor(m => m.UsuarioID);
        columns.Add()
.DataField("UsuarioNombre")
.Caption("Nombre de Usuario");

    })
    .Editing(e => e
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
    )
        .RemoteOperations(true)
   .Paging(p => p.PageSize(10))
    .Editing(editing =>
    {
        editing.Mode(GridEditMode.Row);
        editing.AllowUpdating(true);
        editing.AllowAdding(true);
        editing.UseIcons(true);
        editing.AllowDeleting(true);
    })

.Paging(p => p.PageSize(10))
.FilterRow(f => f.Visible(true))
.HeaderFilter(f => f.Visible(true))
.GroupPanel(p => p.Visible(true))
.Grouping(g => g.AutoExpandAll(false))
.FilterPanel(f => f.Visible(true))
.RemoteOperations(true)
.SearchPanel(f => f.Visible(true))
)
