@{
    ViewData["Title"] = "Reaccion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reaccion</h2>

@(Html.DevExtreme().DataGrid<ProyectoLinkedinMVC.Models.Reaccion>()
    .DataSource(ds => ds.WebApi()
        .Controller("Reaccion")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("Id")
    )
    .RemoteOperations(true)
    .Columns(columns => {

        columns.AddFor(m => m.Id);

        columns.AddFor(m => m.Nombre);

        columns.AddFor(m => m.Contenido);

        columns.AddFor(m => m.UsuarioID);
        columns.Add()
        .DataField("NombreUsuario")
        .Caption("Nombre de Usuario");

        columns.AddFor(m => m.PublicacionID);
        columns.Add()
        .DataField("publicacionTitulo")
        .Caption("Titulo de Publicacion");

        columns.AddFor(m => m.ComentarioID);
        columns.Add()
        .DataField("ContenidoComentario")
        .Caption("Contenido de Comentario");

    })
    .Editing(e => e
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
    )
        .RemoteOperations(true)
   .Paging(p => p.PageSize(10))
    .Editing(editing =>
    {
        editing.Mode(GridEditMode.Row);
        editing.AllowUpdating(true);
        editing.AllowAdding(true);
        editing.UseIcons(true);
        editing.AllowDeleting(true);
    })

.Paging(p => p.PageSize(10))
.FilterRow(f => f.Visible(true))
.HeaderFilter(f => f.Visible(true))
.GroupPanel(p => p.Visible(true))
.Grouping(g => g.AutoExpandAll(false))
.FilterPanel(f => f.Visible(true))
.RemoteOperations(true)
.SearchPanel(f => f.Visible(true))
)
